# Sanal ortam
venv/
.venv/
env/

# Python önbellek
__pycache__/
*.py[cod]
*$py.class

# Çevre değişkenleri
.env

# Veritabanı
*.db
*.sqlite

# IDE ayarları
.vscode/
.idea/

# Geçici Git araçları
temp_git/
temp_git_*.py
mingit.zip
